:root{
    --main--color:#81689D

}

body{
   font-family: "Open Sans", sans-serif;   
}

/* start setting box  */
.settingBox{
    position: fixed;   
    left: -180px;
    top: 0;
    background-color: white;
    width: 180px;
    z-index: 1000;
    min-height: 1000vh;
    transition: .3s;
 
}
.settingBox .open{

    left:0;
}
.settingBox .fa-gear{
    position: absolute;
    background-color: white;
    top: 100px;
    right: -30px;
    padding: 8px 0px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.settingBox .setting-container{


}
/* end setting box  */



/* start landing page */
.landing_page{
    min-height: 100vh;
    background-image: url(../images/2.jpg);
    background-size: cover;
    position: relative;
}

.landing_page .overlay{
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.6;
}

.header_area{
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;


}

.header_area .logo{
    width: 300px;
    padding: 15px;

}

.header_area .links{
 list-style: none;
width: 100%;
text-align: right;
padding-left: 0;
padding-right: 20px;
font-size: 15px;
}

.header_area .links  li{
    display: inline-block;
margin-left:10px ;
}

.header_area .links  li a{
color: white;
text-decoration: none;
transition: .3s;

}

.header_area .links  li a:hover,
.header_area .links  li a.Active{

color: var(--main--color);


}


.introduction_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: white;
    text-align: center;
}


.introduction_text h1{
    font-size: 40px;
    margin: 0 0 10px;
}

.introduction_text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}

.introduction_text h1 span{
    color: var(--main--color);
}

/* end landing page */